*.layout
*.depend
FractalMap.layout
FractalMap.depend

bin/DebugLinux/FractalMap
bin/ReleaseLinux/FractalMap
bin/DebugCrossWin32/FractalMap
bin/Debug/FractalMap.exe
bin/Release/FractalMap.exe
*.o

*stderr.txt
*stdout.txt
*.orig
Thumbs.db
*/Thumbs.db
