*.layout
*.depend
FractalMap.layout
FractalMap.depend

bin/Debug/FractalMap
bin/Release/FractalMap
bin/DebugWin/FractalMap.exe
bin/ReleaseLin/FractalMap.exe
bin/DebugWin/error.txt
bin/DebugWin/gamelog.txt
bin/ReleaseWin/error.txt
bin/ReleaseWin/gamelog.txt

*.o

*stderr.txt
*stdout.txt
*.orig
Thumbs.db
*/Thumbs.db
